# Copy this file to .env and edit the values
# Create a secret key using (todo: how to create a secret key?)
SECRET_KEY = django-insecure-66r3a=a+tk&o^)p$aioc+6(l54^+muvnofttyx-my08d5zo7cf
# Set DEBUG to True for development, False for actual use
DEBUG = False
# ALLOWED_HOSTS is a comma-separated list of hosts that can access the app.
# You can use wildcard chars (*) and IP addresses. Use * for any host.
ALLOWED_HOSTS = *.ku.th, localhost, 127.0.0.1, ::1
# Your timezone
TIME_ZONE = Asia/Bangkok