<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KU POLL - Latest Questions</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
</head>
<body>
    <div class="Problems">
        <div class="container">
            {% if user.is_authenticated %}
                Welcome back, {{ user.username.title }} 
            {% else %}
                Please <a href="{% url 'login' %}?next={{request.path}}">Login</a>
            {% endif %}
        </div>
    </div>
    <header>
        <h1>KU POLL</h1>
    </header>

    <main>
        <h2>Latest Questions</h2>

        <ul>
            {% for question in latest_question_list %}
                <li>
                    {{ question.question_text }}
                    <a href="{% url 'polls:detail' question.id %}">Vote</a>
                    <a href="{% url 'polls:results' question.id %}">Results</a>
                </li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>
